@import url(../CSS/cdn.css);
@import url(../CSS/header.css);
@import url(../CSS/firstscreen.css);
@import url(../CSS/media.css);
@import url(../CSS/tabs.css);
@import url(../CSS/card.css);
@import url(../CSS/pricing.css);
@import url(../CSS/customers.css);
@import url(../CSS/stylish.css);
@import url(../CSS/contart.css);
@import url(../CSS/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.wrap {
    
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.subtitle{
    margin-bottom: 34px;
    font-family: 'Raleway', sans-serif;
    
}

.heading{
    text-align: center;
    color: #212121;
    font-size: 36px;
font-weight: 400;  
position: relative;   
}


.heading::after{

    content: "";
    
    height: 2px;
    width: 64px;
    background: #E72424;
    display: inline-block;
    position: absolute;

    top: 42px;
    left: 47%;
   

    margin-top: 35px;

}




